var filter = {
    // 价格截取
    priceFilter: function (value) {
        var first = value.split('.')[0];
        var second = value.split('.')[1];
        return '<span class="hh1">' + first + '</span>.<span>' + second + '</span>'
    },
    // 倒计时结束
    countEnd: function (value) {
        var count = getDate(value.pt_start_time * 1000).getTime() + value.pt_houres * 3600 * 1000
        // 倒计时
        var nowTime = getDate().getTime()
        // 结束时间
        var endTime = getDate(count).getTime()
        return endTime - nowTime
    },
    // 倒计时结束状态
    countStatus: function (value1, value2) {
        var count = getDate(value1 * 1000).getTime() + value2 * 3600 * 1000
        // 倒计时
        var nowTime = getDate().getTime()
        // 结束时间
        var endTime = getDate(count).getTime()
        if ((endTime - nowTime <= 0)) {
            return false
        } else {
            return true
        }
    },
    // 手机号加密
    phonePass:function(value){
        var start = value.slice(0, 3)
        var end = value.slice(-4)
        return start+"****"+end
    },
}
module.exports = {
    priceFilter: filter.priceFilter,
    countEnd: filter.countEnd,
    countStatus: filter.countStatus,
    phonePass:filter.phonePass
}